#project-topbar-container {
  background-color: black;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#project-topbar-welcome {
  display: inline;
  font-size: 25px;
  margin-left: 20px;
}

#project-topbar-context {
  display: inline;
  font-size: 15px;
}

#project-topbar-addphoto {
  display: inline;
  font-size: 10px;
}

#project-topbar-logout {
  display: inline;
  font-size: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.project-topbar-btn {
  border: 1px solid black;
}

.project-topbar-activitieslink {
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px;
}