img {
  max-width: 100%;
}

.project-photos-comment {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
}

.project-photos-commentdate {
  font-size: 11px;
  color: #8c8c8c;
}